<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" >
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="Shared/header :: header"></div>
<div layout:fragment="content" align="center">
    <h1>Login</h1>
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form id="loginForm">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Email:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input id="email" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Password:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input id="password" type="password" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"> Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>

<div th:replace="Shared/footer :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/loginRequest.js"></script>
</html>