<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <title>Services List</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div th:replace="Shared/header :: header"></div>
<div layout:fragment="content" class="row">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <h2 th:if="${serviceType} == 'StudentTranscriptIssuance'"> List of Student transcript issuance Services</h2>
            <h2 th:if="${serviceType} == 'StudentStatusStatement'"> List of Student status statement Services</h2>
            <h2 th:if="${serviceType} == 'RequestToObjectToMaterial'"> List of Request to object to material Services</h2>
            <h2 th:if="${serviceType} == 'IssuanceOfRegistrationDocumentForDeferment'"> List of Issuance of registration document for deferment Services</h2>
            <h2 th:if="${serviceType} == 'RequestToCancelRegistration'"> List of Request to cancel registration Services</h2>
            <h2 th:if="${serviceType} == 'GraduationCertificate'"> List of Graduation Certificate Services</h2>
        </div>
        <a sec:authorize="hasAnyAuthority('STUDENT')" th:href="@{'/services/create/'+${serviceType}}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Create service</a>
    </div>
    <div class="col-xs-12 col-md-12">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table table-hover" id="product-table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Student Name</th>
                        <th>Employee Name</th>
                        <th>Service Type</th>
                        <th>Service Status</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="service : ${services}">
                        <td th:text="${service.id}"></td>
                        <td th:text="${service.studentName}"></td>
                        <td th:text="${service.employeeName}"></td>
                        <td th:text="${service.serviceType}"></td>
                        <td th:text="${service.serviceStatus}"></td>
                        <!-- if student -->
                        <td><a th:href="@{'/services/details/' + ${service.id}}" class="btn btn-default">Details</a></td>
                        <!-- if employee -->
                        <td><a sec:authorize="hasAuthority('EMPLOYEE')" th:if="${service.serviceStatus} == 'REQUESTED'" th:href="@{'/services/approve/' + ${service.id}}" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Approve</a></td>
                        <td><a sec:authorize="hasAuthority('DEAN')" th:if="${service.serviceStatus} == 'APPROVED BY EMPLOYEE'" th:href="@{'/services/approve/' + ${service.id}}" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Approve</a></td>
                        <td><a sec:authorize="hasAuthority('STUDENT')" th:href="@{'/services/edit/' + ${service.id}}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
                        <td><a sec:authorize="hasAnyAuthority('STUDENT', 'EMPLOYEE')" th:href="@{'/services/delete/' + ${service.id}}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>


<div class="footer-dark">
    <footer layout:fragment="footer" xmlns:layout="http://www.w3.org/1999/xhtml">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Public Sector Agencies</h3>
                    <p>The experience has been very good, it's easy to use and the customer support has probably been one of the best I have dealt with.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">All Rights Reserved. &copy; 2022 @UMS</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>